/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #7f3434;
    margin: 0;
    padding: 0;
    color: rgb(255, 212, 212);
}


.container {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff42;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}

h1 {
    color: #ffffff;
    font-size: 50px;
    background-image: url();
}

.form-input {
    width: 97%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #5c4646;
    border-radius: 5px;
}

.radio-input {
    display: inline;
    margin-right: 10px;
}

.form-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
